<!DOCTYPE html>
<html lang="en-US">

    <!-- Meta Data -->
    <head>
        <title>Bonk Gang | Wrong Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Bonk Gang Wrong Password">
        <meta name="author" content="Bonk Gang">
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    </head>

    <!--Page Contents-->
    <body background="../img/beach.jpg">
        <section>
            <div class="container">
                <div id="loginBox">
                    <br><br>
                    <h2>Wrong Password.</h2>
                    <a href="/">Go Back to login</a>
                </div>
            </div>
        </section>
    </body>
</html>