<!DOCTYPE html>
<html lang="en-US">

    <!-- Meta Data -->
    <head>
        <title>Bonk Gang | Log-in</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Bonk Gang Log-in">
        <meta name="author" content="Bonk Gang">
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    </head>

    <!--Page Contents-->
    <body>
        <section>
            <div class="container">
                <div id="logoBox">
                    <img src="../img/b.png">
                    <p>bonk gang, baby</p>
                </div>
                <div id="loginBox">
                    <p id="welcome">welcome back, baby</p>
                    <!--Back-end guys will use this form to get user input-->
                    <form id="loginForm" onsubmit="return false">
                        <div class="formElementWrapper">
                            <input id="f0" class="formField" type="text" name="email" placeholder="email"/>
                        </div>
                        <div class="formElementWrapper">
                            <input id="f1" class="formField" type="password" name="password" placeholder="password"/>
                        </div>
                        <a href id="forgot">forgot your password?</a>
                        <input id="submitButton" type="submit" value="login"/>
                    </form>
                    <!--sction below submit button-->
                    <div id="help">
                        <a href="/register">don't have an account? Register!</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script>
        //script to send request to server and handle response
        var formEmail = document.getElementById('f0');
        var formPassword = document.getElementById('f1');
        var con = document.getElementById("console");

        //event listener for submit button click
        document.getElementById('submitButton').addEventListener('click', function() {
            var request = new XMLHttpRequest();
            
            request.onload = function() {
                if (this.status >= 200 && this.status < 400 && this.readyState == 4) {
                    // Success!
                    var resp = JSON.parse(this.response);
                    con.innerHTML += "<p>" + resp.message + "</p><br>";
                } else {
                    // We reached our target server, but it returned an error like password incorrect
                    con.innerHTML += "<p>" + this.response.error + "</p><br>";
                    console.log(this.response);
                }
            };

            request.onerror = function(error) {
                // There was a connection error of some sort like server not found
                console.log("request error: " + error);
            };

            //open request
            request.open('POST', '/auth', true);
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

            //data to send
            var dataToSend = JSON.stringify({
                email: formEmail.value,
                password: formPassword.value
            });
            //send it
            request.send(dataToSend);
        });
    </script>
</html>