<!DOCTYPE html>
<html lang="en-US">

    <!-- Meta Data -->
    <head>
        <title>Bonk Gang | Log-in</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Bonk Gang Log-in">
        <meta name="author" content="Bonk Gang">
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    </head>

    <!--Page Contents-->
    <body background="../img/beach.jpg">
        <section>
            <div class="container">
                <div id="loginBox">
                    <!--Back-end guys will use this form to get user input-->
                    <form id="loginForm" action='/' method="post">
                        <div class="formElementWrapper">
                            <input id="f0" class="formField" type="text" name="username" placeholder="username"/>
                        </div>
                        <div class="formElementWrapper">
                            <input id="f1" class="formField" type="password" name="password" placeholder="password"/>
                        </div>
                        <input id="submitButton" type="submit" value="login"/>
                    </form>
                    <!--sction below submit button-->
                    <div id="help">
                        <a href id="left">forgot your password?</a>
                        <a href id="right">don't have an account?</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>