<!DOCTYPE html>
<html lang="en-US">

    <!-- Meta Data -->
    <head>
        <title>Bonk Gang | Log-in</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Bonk Gang Log-in">
        <meta name="author" content="Bonk Gang">
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
        <link rel="stylesheet" href="./style2.css">
    </head>
   
    <!--Page Contents-->
    <body>
    <div id="Eagle">
        <div id="text">
                Accenture Security Claims
        </div>
            <div id="topNav" class="navigation">
                    <span id="closebtn" onclick="navToggle()">
                        <span class="line1"></span>
                        <span class="line2"></span>
                        <span class="line3"></span>
                    </span>
                  <div class="logo">
                    <img src=""/>
                  </div>
                  
                  <ul class="menulist">
                    <li><a class="menuitems" href="register.html">Register</a></li>		
                    <li><a class="menuitems" href="index.html">Log-in</a></li>	
                  </ul>			
                  </div>
                  
                  <div id="main">
                  </div>
    </div>
    </div>
    <div id="info">
        
    </div>
    <div id="links"></div>
    </body>
    <script src="../script/login.js"></script>
    <script src="effects.js"></script>
</html>