<!DOCTYPE html>
<html lang="en-US">

    <!-- Meta Data -->
    <head>
        <title>Bonk Gang | Log-in</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Bonk Gang Log-in">
        <meta name="author" content="Bonk Gang">
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
        <link rel="stylesheet" href="./style2.css">
    </head>
   
    <!--Page Contents-->
    <body>
    <div id="Eagle">
        <div id="text">
                Accenture Security Claims
        </div>
            <div id="topNav" class="navigation">
                    <span id="closebtn" onclick="navToggle()">
                        <span class="line1"></span>
                        <span class="line2"></span>
                        <span class="line3"></span>
                    </span>
                  <div class="logo">
                    <img src=""/>
                  </div>
                  
                  <ul class="menulist">
                    <li><a class="menuitems" href="http://localhost:8080/register">Register</a></li>		
                    <li><a class="menuitems" href="http://localhost:8080/">Log-in</a></li>	
                    <li><a class="menuitems" href="form.html">Submit a Claim</a></li>	
                  </ul>		
                  <div id="main">
                </div>	
            </div>
    </div> 
    <!-- </div> -->
    <!-- represents the boxes for each of the information -->
    <div class="row">
        <div class="column"><h2 >What is  Disability claim? </h2>
            <p>A disability claim is a request for income assistance filed with the Social Security Administration.
                 A claim is filed when a person believes that a mental or 
                 physical disability leads to his/her inability to lead a normal life or find a job. 
                 Depending on your medical and financial history, you can either file for Social Security Disability Insurance or 
                 Supplemental Security Income.</p>
                </div>
        <div class="column">
            <h2>Gathering necessary information</h2>
            <p >Gathering the necessary evidence can be a rather time consuming and complicated process. 
                Thus, it is recommended that one hires a Social <br>Security Disability attorney before beginning the application process.<br>
                 Usually, an attorney will not collect any fees unless you win your case. <br>
                 Typical attorney fees are about 25% of the claim that has been awarded <br> to you.
                  An attorney can receive no more $6,000 for winning a <br>Social Security Disability case. 
                To contact a disability attorney or advocate who can review your case at no charge, please fill out our Free Evaluation.</p>
        </div>
        <div class="column">
            
        <h2>How to File a Disability Claim</h2>
        <p>A disability claim can either be filed yourself or through a disability advocate. 
            Before filing a claim, an applicant should be able to prove that he/she is expected
             to be out of work for at least a year due to a permanent disability. One should also make sure 
             that there are sufficient medical documents and physician’s opinions to confirm the existence and severity of the disabling condition.
              You must not be able to perform your previous job nor
               should you be able to get a different job that would pay you in excess of $1,000/month.</p> 
        </div>

        <img id="pic1"src="Computer.jpg" style="width:500px; height:200px;"/>
        <img id="pic2"src="lock.png" style="width: 500px; height: 200px;"/>
      </div>
    <div id="links"></div>
    </body>
    <footer>
        <p>Website created by Team BonkGang</p>
        <p>Contact information: <a href="mailto:someone@example.com">
        someone@example.com</a>.</p>
      </footer>
    <script src="../script/login.js"></script>
    <script src="effects.js"></script>
</html>