/*Global*/
body{
    font-family: 'Oswald';
    font-size:15px;
    line-height:1.5;
    padding: 0;
    margin: 0;
    background: url(../img/blue.png);
    background-repeat: no-repeat;
    background-size: auto;
}
  
.container{
    width: 87%;
    margin:auto;
    overflow:hidden;
}

h2{
    margin-top: 30px;
}


/*Log in box styles*/

#loginBox{
    text-align: center;
    /*center the box*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    /*set size of box*/
    height: 400px;
    width: 400px;

    /*box appearance*/
    background-color: #ffffff;
    border-radius: 20px;
}


.formElementWrapper{
    margin-bottom: 18px;
    text-align: left;
    width: 100%;
    font-size: 22px;
}

#loginForm{
    margin: 0 auto;
    padding-top: 20px;
    width: 60%;
    text-align: center;
}

.formField{
    width: 100%;
    padding: 5px 0;

    font-size: 22px;
    font-family: oswald;
    color: black;

    border-width: 1px;
    border-color: black;
    border-top: 0;
    border-left: 0;
    border-right:0;
    
    background-color:white;
}

#submitButton{
    width: 100%;
    border-radius: 25px;
    border-width: 0;
    padding: 7px 0;
    margin-top: 15px;

    font-family: 'Oswald';
    font-size: 28px;

    background-color: #5bdae5;
}

/*Below form

register link and forgot password link*/

#help{
    width: 80%;
    margin: auto;
    margin-top: 50px;

}

#help a{
    text-decoration: unset;
}

#left{
    float: left;
}

#right{
    float: right;
}

#output{
    width: 80%;
    height: 25%;
    margin: auto;
    margin-bottom: 30px;

    border-style: solid;
    border-width: 5px;
    border-color: #b9bdc2;
    border-radius: 5px;

    background-color: #ffffff;
}

#output p{
    margin: 3px;
}

